.slider
  position: relative
  height: 8px
  border-radius: 5px
  border: solid 1px #e6e6e6
  background: #fbffff
  cursor: pointer
  &:hover
    .slider__runner
      background: $hover
  &:active
    .slider__runner
      background: $active

  &__runner
    $size: 20px
    position: absolute
    top: 50%
    transform: translateY(-50%)
    width: $size
    height: $size
    border-radius: 50%
    border: none
    background: $main
    &:hover
      background: $hover
      cursor: grab
    &:active
      background: $active
      cursor: grabbing
